/* remove inuput type number arrows*/


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.borderBottom {
    border-bottom: 1px solid #f0f0f0;
}

.mainHadding {
    font-weight: 550;
    color: #878787;
    /*#989898;*/
}

.subHadding {
    font-size: 95%;
    cursor: pointer;
}

.subHadding:hover {
    font-size: 95%;
    cursor: pointer;
    color: #2874f0;
}