
<table class="w3-card w3-table w3-small">
    <tr style="background-color:azure">
        <th class="w3-hide-small"><br></th>
        <th colspan="3" style="text-align: center;">ADD PRODUCT</th>
    </tr>
    <tr>
        <th class="w3-hide-small"><br></th>
        <th class="w3-text-blue" colspan="2">Basic Details</th>
    </tr>
    {% for message in messages%}
    <tr>
        <td class="w3-hide-small"><br></td>
        <td><br></td>
        {% if productId == "" %}
            <td class="w3-text-red">Error:: {{ message }} </td>
        {% else %}
            <td class="w3-text-green">Success:: {{ message }} </td>
        {% endif %}
    </tr>
    {% endfor %}
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Model Number</td>
            <td>
                <input class="w3-input w3-border" type="text" name="modelNumber" id="modelNumber" value="" placeholder="modelNumber" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Category</td>
            <td>
                <input class="w3-input w3-border" type="text" name="category" id="category" list="categoryList" value="" placeholder="category" required>
                <datalist id="categoryList">
                    {% for item in categoryList%}
                        <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </datalist>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Sub-Category</td>
            <td>
                <input class="w3-input w3-border" type="text" name="subCategory" id="subCategory" value="" placeholder="subCategory" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Brand Name</td>
            <td>
                <input class="w3-input w3-border" type="text" name="brandName" id="brandName" value="" placeholder="brandName" required >
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Title</td>
            <td>
                <input class="w3-input w3-border" type="text" name="title" id="title" value="" placeholder="title" required onclick="loadTitleFromFillItems()" onfocus="loadTitleFromFillItems()">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Price</td>
            <td>
                <input class="w3-input w3-border" type="number" name="price" value="" placeholder="price" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Quantity</td>
            <td>
                <input class="w3-input w3-border" type="number" name="quantity" value="" placeholder="quantity" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Warranty</td>
            <td>
                <input class="w3-input w3-border" type="text" name="warranty" value="2Yr, 3Month" placeholder="warranty (Ex. 2Yr, 3Mon)" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">Product Image</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="mainImage" name="mainImage" style="padding-left:0%;" required>
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td><br></td>
            <td class="w3-small">
                <button class="w3-button w3-round" type="submit" value="Save" style="background-color: #89c4ff;" onclick="categoryCheck()">
                    Save and Next
                </button>
            </td>
        </tr>
        <input type="hidden" name="userRatings" value="5">
        <input type="hidden" name="reviewList" value="[]">
        <input type="hidden" name="formAddProductAction" value="primaryDetails">
    </form>
</table>



  
<script>
    function loadTitleFromFillItems(){
        let brandName   = document.getElementById("brandName").value;
        let modelNumber = document.getElementById("modelNumber").value
        let category    = document.getElementById("category").value;
        let subCategory = document.getElementById("subCategory").value;
        let title = ""
        if(brandName != ""){
            title = title + brandName + " "
        }
        if(modelNumber != ""){
            title = title + modelNumber + " "
        }
        if(category != ""){
            //title = title + category + " "
        }
        if(subCategory != ""){
            //title = title + subCategory
        }
        if(title != ""){
            document.getElementById("title").value = title;
            document.getElementById("title").size = title.length;
        }
    }

    function categoryCheck(){
        categoryList = ""
        categoryList = '{{categoryList}}'
        categoryList = categoryList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').split(", ")

        categoryItem = document.getElementById("category").value
        console.log("categoryItem::",categoryItem)
        const found = categoryList.find(element => element == categoryItem);
        //const found = categoryList.findIndex(element => element.includes(categoryItem));
        console.log("found::", found)
        
        if(typeof(found) == "undefined"){
            for(i=0; i<categoryList.length; i++){
                if(categoryList[i].includes("/")){
                    console.log("data is unmatched for::", categoryList[i])
                }
                const found1 = (categoryList[i].split("/")).find(element => element == categoryItem);
                if(typeof(found1) == "undefined")
                {
                    document.getElementById("category").setCustomValidity('selected item is not matched with store')
                }
            }
        }

        //categoryList.replaceALL("&#x27;", '')
        console.log("categoryList::", categoryList)

    }
</script>