
<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <table class="w3-card w3-table w3-small">
        <tr style="background-color:azure">
            <th class="w3-hide-small"><br></th>
            <th colspan="3" style="text-align: center;">ADD PRODUCT</th>
        </tr>
        <tr>
            <th class="w3-hide-small"><br></th>
            <th class="w3-text-blue" colspan="2">Hover Images</th>
            <th class="w3-text-green"> {{productId}} </th>
        </tr>
        {% for message in messages%}
        <tr>
            <td class="w3-hide-small"><br></td>
            <td class="w3-text-red" colspan="2">Warning:: {{ message }} </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 1</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_1" name="hoverImage_1" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 2</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_2" name="hoverImage_2" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 3</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_3" name="hoverImage_3" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 4</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_4" name="hoverImage_4" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 5</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_5" name="hoverImage_5" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td style="padding-top:3%;">IMG 6</td>
            <td>
                <input class="w3-input w3-border-0" type="file" id="hoverImage_6" name="hoverImage_6" style="padding-left:0%;">
            </td>
        </tr>
        <tr>
            <td class="w3-hide-small"><br></td>
            <td><br></td>
            <td  class="w3-small">
                <button type="submit" class="w3-button w3-round" value="Save" style="background-color: #89c4ff;">Save</button>
                <button type="submit" class="w3-button w3-round" value="Save" style="background-color: #89fff5;" onclick="fillSkipFunc()">Skip</button>
            </td>
        </tr>
        <input type="hidden" name="productId" value="{{productId}}">
        <input type="hidden" name="formAddProductAction" value="hoverImages">
        <input id="skip" type="hidden" name="skip" value="">
    </table>
</form>
<script>
    function fillSkipFunc(){
        document.getElementById("skip").value = "skip";
    }
</script>