{% load static %}
<!DOCTYPE html>
<html>
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
</head>

<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:60px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:70px;
        }
    }
</style>


<body style="position: relative;">
    {% include 'common/header/header.html' %}
    <div class="w3-content" id="mainDiv" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-row">
            <div class="w3-col" style="padding-bottom:3%">
                <div class="w3-left w3-text-grey">
                    <span class="w3-tiny">Home > <b>{{ categoryName }}</b></span>
                </div>
            </div>
        </div>
        <div class="w3-row w3-card l9 m9 s9 w3-center w3-small w3-grayscale" style="padding:3%">
            {% for instance in dataDict.items %}
                <a href="{{ categoryName }}/{{ instance.0 }}">
                    <div class="w3-col l3 m4 s6 w3-display-container ">
                        <img src="/static/media/common/Default_Image.PNG" class="w3-opacity-max " style="width:75%;">
                        <div class="w3-display-middle w3-container">
                            <small>
                                <b>{{ instance.0 }}</b>
                                <p class="w3-text-grey">
                                    {% if instance.1 == 0 %}
                                        No PRODUCTS
                                    {% elif instance.1 == 1 %}
                                        {{ instance.1 }} PRODUCT
                                    {%else%}
                                        {{ instance.1 }} PRODUCTS
                                    {%endif%}
                                </p>
                            </small>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <!--{% include 'home/footer.html' %}-->
</body>

<script>
    window.onload = function() {
        document.getElementById("dropdownMenuProfile").style.display = "none";
    };

    function dropdownMenuProfileHide(){
        document.getElementById("dropdownMenuProfile").style.display = "none";
    }
</script>

</html>
