{% load static %}
<!DOCTYPE html>
<html>
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    <link rel="stylesheet" href="{% static 'css/home/categoryDataShow.css' %}">
</head>

<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:130px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:130px;
        }
    }
</style>

<body style="position: relative;">
    {% include 'common/header/header.html' %}
    <div class="w3-content w3-small" id="mainDiv" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-row">
            <div class="w3-col">
                <div class="w3-left w3-text-grey" style="padding-bottom:3%">
                    {% if categoryName != "" %}
                    <span class="w3-tiny">Home > {{categoryName}} > <b>{{ brandName }}</b></span>
                    {% else %}
                    <span><br></span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class=" w3-row w3-card w3-center w3-small">
            {% include 'product/search/filters/otherDevices/price.html' %}
            <div class="w3-col l10 m12 s12 w3-border-left" style="padding-left:5%; padding-right:5%; position: relative;">
                {% include 'product/search/filters/allDevices/priceSorting.html' %}
                {% if isSearchContentFound == 0 %}
                <div class="w3-row w3-text" style="margin-top:5%;">
                    <b>Sorry, no results found for <span class="w3-text-red">{{ searchContent }}</span></b>
                </div>
                <div class="w3-row " style="margin-bottom:5%;">
                    Please check the spelling or try searching for something else
                </div>
                {% if productBrandnameListObjCount != 0  and isSearchContentFound == 0 %}
                <div class="w3-row w3-text">
                    {% if relaventContent != "" %}
                    <div class="w3-col l9 m9 s9 w3-text-green" style="text-align:left; padding:2%">Showing results for {{relaventContent}} instead</div>
                    {% else %}
                    <div class="w3-col l9 m9 s9 w3-text-green" style="text-align:left; padding:2%">Showing results for <b>tv</b> instead</div>
                    {% endif %}
                </div>
                {% endif %} {% endif %}

                <div class="w3-row" style="margin-bottom: 1%;" onclick="onlyShowButtonSort()">
                    {% for instance in productBrandnameListObj %}
                    <div class="w3-col l3 m4 s6">
                        <div class="w3-display-container w3-hover-shadow">
                            <div style="padding-bottom:1%;">
                                <a href="/product/{{ instance.modelNumber }}">
                                    <img src="{{ instance.mainImage.url }}" class="brandNameListId">
                                </a>
                            </div>
                            <!--todo resolve and add on right top of image-->
                            <div class="w3-left-align w3-text-black" style="padding-bottom:2%;padding-left:5%;"><small><b>₹ {{instance.price}}</b></small></div>
                            <div class="w3-left-align w3-text-black" style="padding-bottom:4%;padding-left:5%;"><b>{{instance.title}}</b></div>
                            <div class="w3-left-align w3-text-black" style="padding-bottom:4%;padding-left:5%;">
                                <div class="w3-row">
                                    <div class="w3-col l6 m6 s6">
                                        <form action="" method="post"> {% csrf_token %}
                                            <input type="hidden" name="ADDTOCART" value="{{instance.modelNumber}}" />
                                            <button class="w3-button w3-tiny w3-round" style="background-color:#ffe11b;">Add To Cart</button>
                                        </form>
                                    </div>
                                    <!--<div class="w3-col l1 m1 s1 w3-hide-large w3-hide-small"><br></div>-->
                                    <div class="w3-col l5 m5 s5">
                                        <form action="" method="post"> {% csrf_token %}
                                            <input type="hidden" name="BUYNOW" value="{{instance.modelNumber}}" />
                                            <button class="w3-button w3-tiny w3-round" style="background-color:#ff9f00;">Buy Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Right Filterd Items closed-->
    </div>
    <!--Middle Part Closed-->
    <script>
        window.onload = function() {
            onlyShowButtonSort()
            document.getElementById('dropdownSortButton').value = 'Popularity';
            document.getElementById("dropdownMenuProfile").style.display = "none";
        }

        function dropdownMenuProfileHide(){
            document.getElementById("dropdownMenuProfile").style.display = "none";
        }

        function showId(ID) {
            document.getElementById(ID).style.display = "block";
        }

        function hideId(ID) {
            document.getElementById(ID).style.display = "none";
        }

        function showDropdownSort() {
            hideId('buttonSort')
            showId("dropdownSort")
        }

        function onlyShowButtonSort(typeOfSort) {
            showId('buttonSort')
            hideId("dropdownSort")
        }

        function calculatefilterDictTOfilterDictStr(ID, todoChecked) {
            filterDict = {}
            filterDict["PRICE_BL_2000"] = '{{filterDict.PRICE_BL_2000}}'
            filterDict["PRICE_BTW_2000_3000"] = '{{filterDict.PRICE_BTW_2000_3000}}'
            filterDict["PRICE_BTW_3000_4000"] = '{{filterDict.PRICE_BTW_3000_4000}}'
            filterDict["PRICE_BTW_4000_5000"] = '{{filterDict.PRICE_BTW_4000_5000}}'
            filterDict["PRICE_ABW_5000"] = '{{filterDict.PRICE_ABW_5000}}'

            filterDictStr = ""
            if (ID == "showButtonSort") {
                for (key in filterDict) {
                    filterDictStr += key + ":" + filterDict[key] + ","
                }
            } else {
                for (key in filterDict) {
                    if (ID == key) {
                        filterDictStr += key + ":" + todoChecked + ","
                    } else {
                        filterDictStr += key + ":" + filterDict[key] + ","
                    }
                }
            }
            filterDictStr = filterDictStr.slice(0, -1);
            return filterDictStr
        }

        function showButtonSort(typeOfSort) {
            showId('buttonSort')
            hideId("dropdownSort")
            document.getElementById('dropdownSortButton').value = typeOfSort

            //for Price filter Intrigrity maintain
            document.getElementById('dropdownSortButtonfilterDict').value = calculatefilterDictTOfilterDictStr("showButtonSort", "")
            document.getElementById("dropdownSortButtonClick").click();
        }

        function submitButtonClick(ID, todoChecked) {
            document.getElementById("filterDict").value = calculatefilterDictTOfilterDictStr(ID, todoChecked)
            document.getElementById("priceSubmitButton").click();
        }
    </script>
</body>
{% include 'home/footer.html' %}
</html>
