<div class="w3-col l2 m2 s2 w3-hide-small w3-hide-medium" style="padding-right:1%;" onclick="onlyShowButtonSort()">
    <div class="w3-row" style="padding-top:10%; text-align:left; padding-left:10%">
        <b>FILTER</b>
    </div>
    <div class="w3-row" style="padding-top:5%; text-align:left; padding-left:10%">
        <div class="w3-row" style="padding-bottom: 2%;"><small>PRICE</small></div>
        <form action="" method="post"> {% csrf_token %}
            <!---->
            {% if filterDict.PRICE_BL_2000 == 1 %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BL_2000" onclick="submitButtonClick('PRICE_BL_2000', 0)" checked> <small>Below ₹2000</small></div>
            {% else %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BL_2000" onclick="submitButtonClick('PRICE_BL_2000', 1)"> <small>Below ₹2000</small></div>
            {% endif %} {% if filterDict.PRICE_BTW_2000_3000 == 1 %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_2000_3000" onclick="submitButtonClick('PRICE_BTW_2000_3000', 0)" checked> <small>₹2000 - ₹3000</small></div>
            {% else %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_2000_3000" onclick="submitButtonClick('PRICE_BTW_2000_3000', 1)"> <small>₹2000 - ₹3000</small></div>
            {% endif %} {% if filterDict.PRICE_BTW_3000_4000 == 1 %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_3000_4000" onclick="submitButtonClick('PRICE_BTW_3000_4000', 0)" checked> <small>₹3000 - ₹4000</small></div>
            {% else %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_3000_4000" onclick="submitButtonClick('PRICE_BTW_3000_4000', 1)"> <small>₹3000 - ₹4000</small></div>
            {% endif %} {% if filterDict.PRICE_BTW_4000_5000 == 1 %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_4000_5000" onclick="submitButtonClick('PRICE_BTW_4000_5000', 0)" checked> <small>₹4000 - ₹5000</small></div>
            {% else %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_BTW_4000_5000" onclick="submitButtonClick('PRICE_BTW_4000_5000', 1)"> <small>₹4000 - ₹5000</small></div>
            {% endif %} {% if filterDict.PRICE_ABW_5000 == 1 %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_ABW_5000" onclick="submitButtonClick('PRICE_ABW_5000', 0)" checked> <small>Above ₹5000</small></div>
            {% else %}
            <div class="w3-row"><input type="checkbox" name="FILTER:PRICE" value="PRICE_ABW_5000" onclick="submitButtonClick('PRICE_ABW_5000', 1)"> <small>Above ₹5000</small></div>
            {% endif %}
            <input type="hidden" id="filterDict" name="filterDict" value="" />
            <small><button class="w3-button" style="display:none;" id="priceSubmitButton">Buy Now</button></small>
        </form>
    </div>
</div>