<div class="w3-row w3-border-top" style="margin-top:3%;">
    <div class="w3-col l10 m10 s10" style="padding-top:1%">
        <div class="w3-row w3-center">
            <div class="w3-col l6 m6 s12 w3-text-gray" style=""> 
                <small><span> Copyright © 2022 Ashok Electronics </span></small>
            </div>
            <div class="w3-col l6 m6 s12 w3-text-gray" style="padding-bottom:1%;"> 
                <small><span> Powered by Ashok Electronics </span></small>
            </div>
        </div>
    </div>
    <div class="w3-col l2 m2 s2 w3-xxlarge w3-center"> 
        <i class="fas fa-sms" ></i> 
    </div>
</div>