{% load static %}
<!DOCTYPE html>
<html>
<title>Ashok Electronics</title>
<!--  References
    https://www.w3schools.com/css/css_rwd_intro.asp
    https://www.w3schools.com/css/css_rwd_templates.asp
    https://www.w3schools.com/w3css/w3css_icons.asp
-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/common/universal/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/universal/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/universal/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchItems.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--https://kenwheeler.github.io/slick/-->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
    
    <script src="{% static 'js/common/universal/all.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>-->
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'slick/slick.js' %}" type="text/javascript" charset="utf-8"></script>
  

    <style type="text/css">
        html, body {
          margin: 0;
          padding: 0;
        }
    
        * {
          box-sizing: border-box;
        }
    
        .slider {
            width: 70%;
            margin: 100px auto;
        }
    
        .slick-slide {
          margin: 0px 20px;
        }
    
        .slick-slide img {
          width: 100%;
        }
    
        .slick-prev:before,
        .slick-next:before {
          color: black;
        }
    
        .slick-slide {
          transition: all ease-in-out .3s;
          opacity: .2;
        }
        
        .slick-active {
          opacity: .5;
        }
    
        .slick-current {
          opacity: 1;
        }
      </style>

</head>

<body style="position: relative;">
    {% include 'common/header/header.html' %}
    <div class="w3-content" style="max-width:1200px; margin-top: 5.5%;" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-main" style="margin-left:100px; margin-right:100px;">
            <!-- Image header -->
            
            <section class="regular slider" >
                {% for instance in productHomeSliderObj %}
                <div>
                  <img src="{{ instance.image.url }}">
                </div>
                {% endfor %}
            </section>

            <div class="w3-row" style="padding-top:6%;">
                {% for instance in productHomeCategoryListObj %}
                    {% if instance.shape == "H" %}
                        <div align="center" class="w3-col l3 m4 s6">
                            <div class="w3-container" style="height:70%">
                    {% elif instance.shape == "V" %}
                        <div align="center" class="w3-col l3 m4 s6">
                            <div class="w3-container" style="width:70%">
                    {% else %}
                        <div align="center" class="w3-col l3 m4 s6">
                            <div class="w3-container">
                    {% endif %}
                        <a href="product-category/{{ instance.category }}">
                            <img src="{{ instance.image.url }}" class="homeCategoryListId">
                        </a>
                        <center>
                            <h4><b>{{ instance.category }}</b></h4>
                        </center>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="w3-row w3-border-top" style="margin-top: 3%;">
        <div class="w3-col l6 w3-text-gray" style="text-align: center; padding-top:2%; padding-bottom:2%;"> 
            <span> Copyright © 2022 Ashok Electronics </span>
        </div>
        <div class="w3-col l5 w3-text-gray" style="text-align: center; padding-right:5%; padding-top:2%; padding-bottom:2%;"> 
            <span> Powered by Ashok Electronics </span>
        </div>
        <div class="w3-col l1 w3-xxlarge" style="text-align: center; padding-top:1%; padding-bottom:2%;"> 
            <i class="fas fa-sms" ></i> 
        </div>
    </div>
</body>

<script>
    window.onload = function() {
        document.getElementById("dropdownMenuProfile").style.display = "none";
    };

    function dropdownMenuProfileHide(){
        document.getElementById("dropdownMenuProfile").style.display = "none";
    }

    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
	  $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
    });
</script>

</html>
