<!DOCTYPE html>
<html>
{% load static %}
{% include 'common/title.html' %}
<head>
    {% include 'common/head.html' %}
</head>
<style>

    #mainDiv{ 
        /*margin-top: 5.5%;*/
        margin-top: 80px;
    }
    #rhsPannel{ 
        margin-left: 2%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{ 
            /*margin-top: 15%;*/
            margin-top: 60px;
        }
        #rhsPannel{ 
            margin-left: 2%;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{ 
            margin-top: 70px;
        }
        #rhsPannel{ 
            margin-left: 2%;
        }
    }

</style>


<body style="padding-bottom:5%;" style="display: block;" >
    {% include 'common/header/header.html' %}
    <div class="w3-row" onmouseover="dropdownMenuProfileHide()" id="mainDiv">
        <div class="w3-col l1 m1 s1 w3-hide-small w3-center"><br></div>
        <div class="w3-col l2 m3 s4 w3-hide-small w3-small w3-left" style="padding-right:1%;">
            {% include 'manager/lhs/Pannel.html' %}
        </div>
        <div class="w3-col l2 m2 s3 w3-hide-large w3-hide-medium w3-small w3-left">
            {% include 'manager/lhs/Pannel.html' %}
        </div>

        <div class="w3-col l6 m7 s8 w3-center" id="rhsPannel">
            {% if touds == "home" %}
                {% include 'manager/rhs/home.html' %}
            {% elif touds == "usersProfiles" %}
                {% include 'manager/rhs/usersProfiles.html' %}
            {% elif touds == "alterProduct" %}
                {% if secondTouds == "home" %}
                    {% include 'manager/rhs/alterData/index.html' %}
                {% elif secondTouds == "homeSlider" %}
                    {% include 'manager/rhs/alterData/homeSlider/index.html' %}
                {% elif secondTouds == "homeImages" %}
                    {% include 'manager/rhs/alterData/homeImages/index.html' %}
                {% elif secondTouds == "payment" %}
                    {% include 'manager/rhs/alterData/payment/index.html' %}
                {% elif secondTouds == "promocode" %}
                    {% include 'manager/rhs/alterData/promocode/index.html' %}
                {% elif secondTouds == "reviewAndRating" %}
                    {% include 'manager/rhs/alterData/reviewAndRating/index.html' %}
                {% elif secondTouds == "productIndex" %}
                    {% include 'manager/rhs/alterData/alterProduct/index.html' %}
                {% elif secondTouds == "update" %}
                    {% include 'manager/rhs/alterData/alterProduct/update/index.html' %}
                {% elif secondTouds == "view" %}
                    {% include 'manager/rhs/alterData/alterProduct/view/index.html' %}
                {% elif secondTouds == "primaryDetails" %}
                    {% include 'manager/rhs/alterData/alterProduct/add/primary.html' %}
                {% elif secondTouds == "moreDetails" %}
                    {% include 'manager/rhs/alterData/alterProduct/add/second.html' %}
                {% elif secondTouds == "hoverImages" %}
                    {% include 'manager/rhs/alterData/alterProduct/add/ternary.html' %}
                {% elif secondTouds == "descriptionAndSpacificationManage" %}
                    {% include 'manager/rhs/alterData/alterProduct/add/quaterly.html' %}
                {% endif %}
            {% elif touds == "manageStoreItems" %}
                {% include 'manager/rhs/manageStore.html' %}
            {% elif touds == "alterPaymentDetails" %}
                {% include 'manager/rhs/managePayments.html' %}
            {% elif touds == "emailandMessaging" %}
                {% include 'manager/rhs/manageEmailAndMobile.html' %}
            {% elif touds == "console" %}
                {% include 'manager/rhs/console.html' %}
            {% elif touds == "logout" %}
                {% include 'manager/rhs/logout.html' %}
            {% endif %}
        </div>
    </div>
<script>
    history.pushState(null, null, location.href);   //block back button
        window.onpopstate = function () {
            history.go(1);
        };

    window.onload = function() {    
        document.getElementById("dropdownMenuProfile").style.display = "none";
    };

    function dropdownMenuProfileHide(){
        document.getElementById("dropdownMenuProfile").style.display = "none";
    }
</script>

</body>

</html>