<!DOCTYPE html>
<html>
{% load static %}
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    <style>
        .dot {
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
</head>
<style>
    .checked {
        color: orange;
    }


    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:100px;
            margin-left:10px;
            margin-right:10px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:40px;
            margin-left:10px;
            margin-right:10px;
        }
    }
</style>

<body style="position: relative;">
    {% include 'common/header/checkout.html' %}
    <div class="w3-content w3-small" id="mainDiv" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-row w3-hide-small" style="padding-top:15%;">
                    <div class="w3-col w3-xlarge l10 m12 s12">
                        Delivery Details
                    </div>
                </div>
                <div class="w3-row w3-hide-large w3-hide-medium" >
                    <div class="w3-col w3-large l10 m12 s12">
                        Delivery Details
                    </div>
                </div>

                <div class="w3-row" style="padding-top:3%;">
                    <div class="w3-col w3-large l8 m9 s8 w3-border-top w3-hide-small" style="padding-top:2%; padding-bottom:2%">
                        Shipment
                    </div>
                    <div class="w3-col w3-medium l8 m9 s8 w3-border-top w3-hide-large w3-hide-medium" style="padding-top:2%; padding-bottom:2%">
                        Shipment
                    </div>
                    <div class="w3-col l2 m3 s4 w3-border-top" style="padding-top:2%; padding-bottom:2%">
                        <small class="w3-text-blue w3-hover-text-red" style="cursor: pointer;">
                            <a href="\" style="text-decoration: none;"><i class="fa fa-plus"></i>  Add more items</a> 
                        </small>
                    </div>                    
                </div>
                <div class="w3-row">
                    <div class="w3-col l10 m12 s12">
                        <div class="w3-row w3-text-grey">
                            <small>Deliver to: {{orderDeliveryAddress}}</small>
                        </div>
                        <ul>
                            {% for product in productDictList %}
                            <li>
                                <b><small>{{product.title}}</small></b>
                                <!--if product.storeQuantity != product.quantity-->
                                <span id="{{product.itemID}}_maxLimitError"><b class="w3-text-red" style="padding-left:5%"><small>In store only {{product.storeQuantity}} items</small></b></span>
                                <div class="w3-row">
                                    <small class="w3-text-grey">Price ₹ {{ product.price }} | </small>
                                    <small id="onloadQuantity">Quantity: {{product.quantity}}</small>
                                    <small onclick="showId('{{product.itemID}}_onclickchangeQuantity')" class="w3-text-blue w3-hover-text-red" style="cursor: pointer;">change</small>

                                    <form action="" method="post" id="{{product.itemID}}_onclickchangeQuantity"> {% csrf_token %}
                                        <small class=" w3-text-grey">Quantity: <input type="number" name="CHANGEDQUANTITY" style='width:10%' value="{{product.quantity}}" /> </small>
                                        <input type="hidden" name="DELIVERYADDRESS" value="{{orderDeliveryAddress}}" />
                                        <input type="hidden" name="ITEMID" value="{{product.itemID}}" />
                                        <small><button>Update</button></small>
                                    </form>
                                </div>
                                <div class="w3-row" style="padding-bottom:1%;">
                                    <small class=" w3-text-grey ">Sub Total - </small>
                                    <small>₹ {% widthratio product.price 1 product.quantity %} </small>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="w3-col l2 m12 s12 w3-hide-small">
                        <br>
                    </div>
                </div>
            </div>
            <!-- Payment -->
            <div class="w3-col l6 m12 s12" id="noMaxLimitError">
                <div class="w3-row w3-hide-small" style="padding-top:15%; ">
                    <div class="w3-col l2 m12 s12  w3-hide-small">
                        <br>
                    </div>
                    <div class="w3-col l10 m12 s12 w3-xlarge">
                        Confirm Payment
                    </div>
                </div>
                <div class="w3-row w3-hide-large w3-hide-medium" style="padding-top:5%;">
                    <div class="w3-col l10 m12 s12 w3-large">
                        Confirm Payment
                    </div>
                </div>
                <div class="w3-row" style="padding-top:3%;">
                    <div class="w3-col l2 m12 s12 w3-hide-small">
                        <br>
                    </div>
                    <div class="w3-col w3-large l10 m12 s12 w3-border-top w3-hide-small" style="padding-top:2%; padding-bottom:2% ">
                        Products Total
                    </div>
                    <div class="w3-col w3-medium l10 m12 s12 w3-border-top w3-hide-large w3-hide-medium" style="padding-top:2%; padding-bottom:2% ">
                        Products Total
                    </div>
                </div>
                <div class="w3-row">
                    <!--/product/purchase/PaymentFinalGateway/{{ productsTotalCost }}-->
                    <div class="w3-col l2 m12 s12 w3-hide-small">
                        <br>
                    </div>
                    <div class="w3-col l10 m12 s12">
                        <div class="w3-row w3-text-grey" style="padding-bottom:3%;">
                            <small>
                                {% for product in productDictList %}
                                    {{ product.price }} * {{ product.quantity }}
                                {% if  forloop.counter < productDictList|length  %} + {% endif %}
                                {% endfor %}
                                </small>
                            <b><div class="w3-text-black "><small>Total Price - ₹ {{productsTotalCost}}</small></div></b>
                        </div>
                        <div class="w3-row" id="paymenttypes" style="margin-bottom:3%;">
                            <div class="w3-row">
                                <input type="radio" id="partialPayment" name="paidInitialAmount" value="{{tokenAmount}}" onchange="showRestAmountMessage('{{tokenAmount}}', '{{productsTotalCost}}')" required> <small>Token Amount</small>
                                <b><small>₹ {{tokenAmount}}/-</small></b>
                            </div>
                            <div class="w3-row">
                                <input type="radio" id="fullPayment" name="paidInitialAmount" value="{{productsTotalCost}}" onchange="showRestAmountMessage('{{productsTotalCost}}', '{{productsTotalCost}}')"> <small>Pay Full Payment</small>
                                <b><small>₹ {{productsTotalCost}}/-</small></b>
                            </div>
                        </div>
                        <div class="w3-row" id="ShowpaidDetail" style="margin-bottom:5%;">
                            <small><div class="w3-text-red" id="ShowpaidDetail1"></div></small>
                            <small><div class="w3-text-red" id="ShowpaidDetail2"></div></small>
                        </div>
                        <div class="w3-row" id="transactionModes">
                            <div class="w3-bar" style="padding-top:3%;">
                                {% for payment in paymentObj.items %}
                                    <a class="w3-btn w3-round w3-green w3-hover-dark-gray" id="bt:{{payment.0}}" onclick="loadPaymentMode('{{payment.0}}')">
                                        {{payment.0}}
                                    </a>
                                {% endfor %}
                            </div>
                            {% for payment in paymentObj.items %}
                                <div class="w3-row" id="{{payment.0}}" style="padding-top:5%;">
                                    {% if payment.0 == "UPI" %}
                                        {% for val in payment.1 %}
                                            <div class="w3-row w3-text-black">
                                                <input type="radio" id="R:{{payment.0}}" name="{{payment.0}}" value="{{val.3}}|{{val.0}}" onchange="updateTempPaymentIdWithMode('{{val.0}}')" checked> <small>{{val.3}}</small>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    
                                        {% for val in payment.1 %}
                                          <div class="w3-row w3-text-black">
                                                <input type="radio" id="R:{{payment.0}}" name="{{payment.0}}" value="{{val.4}}|{{val.6}}|{{val.5}}|{{val.7}}|{{val.0}}" onchange="updateTempPaymentIdWithMode('{{val.0}}')" checked> 
                                                    <small> {{val.4}}
                                                        <p style="margin-left:4%;">Account No : {{val.6}}</p>
                                                        <p style="margin-left:4%;">IFSC CODE : {{val.5}}</p>
                                                        <p style="margin-left:4%;">Beneficiary Name : {{val.7}}</p>
                                                    </small>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="w3-row" style="padding-top:3%;">
                            <small>
                                <div class="w3-col l6 m6 s6" style="padding-bottom: 5%;">
                                    <input class='w3-input  w3-border' type='text' id='orderFirstPaidTrxnID' name='orderFirstPaidTrxnID' style='width:100%' onchange="updateTempTransactionId(this)" placeholder='Payment Transaction ID'>
                                </div>
                                <div class="w3-col l6 m6 s6" style="padding-left:5%">
                                    <button class="w3-button w3-black w3-hover-dark-grey" onclick="transactionReconfirmOnSubmitPress(this)">Submit</button>
                                </div>
                            </small>
                        </div>
                        <div id="validationMessage" class="w3-text-red"></div>
                        <input type="hidden" id="temp_payment" value="" />
                        <input type="hidden" id="temp_paymentId" value="" />
                        <input type="hidden" id="temp_transactionId" value="" />
                        <form action="" method="post"> {% csrf_token %}
                            <div id="verifyPaymentDetail" class="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
                                    <div class="w3-row">
                                        <a href=""><i onclick="document.getElementById('verifyPaymentDetail').style.display='none';" class="fa fa-times-circle w3-right  w3-xlarge"></i></a>
                                    </div>
                                    <div class="w3-row w3-center">
                                        <h3 class="w3-wide">Reconfirm Selected Details</h3>
                                    </div>
                                    <p><b>Paid Amount : </b><span id="vrfy:paidAmount"></span><b>  out of : </b><span id="vrfy:totalAmount"></span></p>
                                    <p><b>Mode of Transaction : </b><span id="vrfy:paymentIdWithMode"></span></p>
                                    <p><b>Transaction ID : </b><span id="vrfy:transactionId"></span></p>
                                    
                                    <p id="P:upiId"><b>UPI ID : </b><span id="vrfy:upiId"></span></p>
                                    <p id="P:bankName"><b>Bank Name : </b><span id="vrfy:bankName"></span></p>
                                    <p id="P:accNo"><b>Account Number : </b><span id="vrfy:accNo"></span></p>
                                    <p id="P:ifscCode"><b>IFSC Code : </b><span id="vrfy:ifscCode"></span></p>
                                    <p id="P:beneficiaryName"><b>Beneficiary Name : </b><span id="vrfy:beneficiaryName"></span></p>

                                    <div class="w3-row w3-center">
                                        <input type="hidden" id="TYPEOFPAYMENT" name="TYPEOFPAYMENT" value="" />
                                        <input type="hidden" id="PAYMENTID" name="PAYMENTID" value="" />
                                        <input type="hidden" id="DELIVERYADDRESS" name="DELIVERYADDRESS" value="{{orderDeliveryAddress}}" />
                                        <input type="hidden" id="ORDERFIRSTTRXNID" name="ORDERFIRSTTRXNID" value="" />
                                        <input type="hidden" id="onOrderPaidAmount" name="onOrderPaidAmount" value="" />
                                        <p><button type="submit" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('verifyPaymentDetail').style.display='none';">Place Order</button></p>
                                    </div>
                                    <div class="w3-row"></div>
                                </div>
                            </div>
                        </form>
                        <div class="w3-row" id="gotohomepage">
                            <button class="w3-button w3-green w3-hover-dark-grey w3-round">Go to Home Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="w3-row">
        <img src="../../static/media/testPaymentQRCode.jpeg" class="brandNameListId" style="width:300px;height:200px;padding-left:0%">
    </div>-->

    <script>
        window.onload = function() {
            maxLimitValidation();
            otherValidations();
        };

        function maxLimitValidation(){
            maxLimitErrorList = '{{productDictList}}';
            maxLimitErrorList = maxLimitErrorList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').replaceAll("{", '').split("},")
            maxLimitErrorFlag = false
            for (var i=0; i<maxLimitErrorList.length; i++){                
                quantity = parseInt(maxLimitErrorList[i].split(", ")[3].replaceAll(" ", '').split(":")[1])
                storeQuantity = parseInt(maxLimitErrorList[i].split(", ")[4].replaceAll("}", '').replaceAll(" ", '').split(":")[1])
                itemID = maxLimitErrorList[i].split(", ")[0].replaceAll(": ", ':').split(":")[1]
                if(storeQuantity < quantity){
                    showId(itemID + "_maxLimitError")
                    document.getElementById(itemID + "_maxLimitError").style = "padding-left:5%";
                    maxLimitErrorFlag = true
                }
                else{
                    hideId(itemID + "_maxLimitError")
                }
            }
            if(maxLimitErrorFlag){
                hideId("noMaxLimitError");
            }
            else{
                showId("noMaxLimitError");
            }
        }

        function otherValidations(){
            document.getElementById("dropdownMenuProfile").style.display = "none";
            console.log("onload called -1")
            updateQuantityOnPageload('{{itemidList}}')
            console.log("onload called 0")
            if ('{{productsTotalCost}}' < 5000) {
                console.log("onload called 1")
                showId("ShowpaidDetail")
                document.getElementById("ShowpaidDetail1").innerHTML = "Online order <b>purchase amount</b> should be grater then <b>₹5000/-</b>";
                document.getElementById("ShowpaidDetail2").innerHTML = "Please Increase quantity or Buy more Items";
                document.getElementById("ShowpaidDetail1").className = "w3-text-red";
                document.getElementById("ShowpaidDetail2").className = "w3-text-blue";
                console.log("onload called 2")
                hideId("transactionModes")
                console.log("onload called 3")
                hideId("paymenttypes")
                console.log("onload called 4")
                showId("gotohomepage")
                console.log("onload called 5")
            } else {
                console.log("onload called 6")
                hideId("gotohomepage")
                console.log("onload called 7")
                hideId("ShowpaidDetail")
                console.log("onload called 8")
            }
            console.log("onload called...")
            loadPaymentMode('UPI')
            hideId("ACCOUNT")
        }

        function dropdownMenuProfileHide(){
            document.getElementById("dropdownMenuProfile").style.display = "none";
        }

        function showId(ID) {
            console.log("showId::", ID)
            document.getElementById(ID).style.display = "block";
        }

        function hideId(ID) {
            console.log("hideId::", ID)
            document.getElementById(ID).style.display = "none";
        }

        function updateQuantityOnPageload(itemidList) {
            itemidList = itemidList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').replaceAll(", ", ',').split(",")
            for (index = 0; index < itemidList.length; index++) {
                hideId((itemidList[index]) + "_onclickchangeQuantity");
            }
        }

        function showRestAmountMessage(paidAmt, totalAmt) {
            hideId("validationMessage");
            if (parseInt(paidAmt) < parseInt(totalAmt)) {
                showId("ShowpaidDetail")
                document.getElementById("ShowpaidDetail1").innerHTML = "Pay token Amount <b>" + paidAmt + "/-</b>";
                document.getElementById("ShowpaidDetail2").innerHTML = "pay at home <b>" + (totalAmt - paidAmt) + "/-</b>";
                document.getElementById("ShowpaidDetail1").className = "w3-text-blue";
                document.getElementById("ShowpaidDetail2").className = "w3-text-red";
                document.getElementById("TYPEOFPAYMENT").value = "PARTIAL"
                showId("transactionModes")
                showId("paymenttypes")
                hideId("gotohomepage")
            } else {
                showId("ShowpaidDetail")
                document.getElementById("ShowpaidDetail1").innerHTML = "Pay full amount <b>" + totalAmt + "/-</b>";
                document.getElementById("ShowpaidDetail2").innerHTML = ""
                document.getElementById("ShowpaidDetail1").className = "w3-text-green";
                document.getElementById("TYPEOFPAYMENT").value = "FULL"
                showId("transactionModes")
                showId("paymenttypes")
                hideId("gotohomepage")
            }
            document.getElementById("temp_payment").value = paidAmt;
            console.log("temp_payment::", document.getElementById("temp_payment").value)
        }

        function updateTempPaymentIdWithMode(PaymentIdWithMode) {
            document.getElementById("temp_paymentId").value = PaymentIdWithMode;
            console.log("updateTempPaymentIdWithMode::", document.getElementById("temp_paymentId").value)
        }

        function updateTempTransactionId(self) {
            document.getElementById("temp_transactionId").value = self.value
            console.log("updateTempTransactionId::", document.getElementById("temp_transactionId").value)
        }

        function transactionReconfirmOnSubmitPress(button) {
            message = "";
            if ((document.getElementById("partialPayment").checked == false) && (document.getElementById("fullPayment").checked == false)) {
                message += "ERROR! Please select payment type -> Full/Partial<br>";
            }
            if (document.getElementById("orderFirstPaidTrxnID").value == '') {
                message += "ERROR! Please enter Transaction ID<br>";
            }

            if (message != '') {
                showId("validationMessage");
                document.getElementById("validationMessage").innerHTML = "<p><small>" + message + "</small></p>";
            } else {
                hideId("validationMessage");
                document.getElementById("vrfy:paidAmount").innerHTML = '₹' + document.getElementById("temp_payment").value + '/-';
                document.getElementById("vrfy:transactionId").innerHTML = document.getElementById("temp_transactionId").value
                document.getElementById("vrfy:totalAmount").innerHTML = '₹' + '{{productsTotalCost}}' + '/-';

                document.getElementById("ORDERFIRSTTRXNID").value = document.getElementById("temp_transactionId").value;
                document.getElementById("onOrderPaidAmount").value = document.getElementById("temp_payment").value;
                document.getElementById("PAYMENTID").innerHTML = document.getElementById("temp_paymentId").value;
                showId("verifyPaymentDetail")
            }
        }

        function loadPaymentMode(PaymentMode) {
            if (PaymentMode == "UPI") {
                hideId("ACCOUNT")
                showId("UPI")
                document.getElementById("bt:UPI").className = "w3-btn w3-round w3-green w3-hover-dark-grey";
                document.getElementById("bt:ACCOUNT").className = "w3-btn w3-round w3-gray w3-hover-dark-green";
                
                hideId("P:bankName")
                hideId("P:accNo")
                hideId("P:ifscCode")
                hideId("P:beneficiaryName")
                showId("P:upiId")
                detils = document.getElementById("R:UPI").value.split("|")
                document.getElementById("vrfy:upiId").innerHTML = detils[0]
                
                document.getElementById("vrfy:paymentIdWithMode").innerHTML = "UPI"
                updateTempPaymentIdWithMode(detils[1])
            } else {
                hideId("UPI")
                showId("ACCOUNT")
                document.getElementById("bt:UPI").className = "w3-btn w3-round w3-gray w3-hover-dark-green";
                document.getElementById("bt:ACCOUNT").className = "w3-btn w3-round w3-green w3-hover-dark-grey";
                showId("P:bankName")
                showId("P:accNo")
                showId("P:ifscCode")
                showId("P:beneficiaryName")
                hideId("P:upiId")
                
                detils = document.getElementById("R:ACCOUNT").value.split("|")
                document.getElementById("vrfy:bankName").innerHTML = detils[0]
                document.getElementById("vrfy:accNo").innerHTML = detils[1]
                document.getElementById("vrfy:ifscCode").innerHTML = detils[2]
                document.getElementById("vrfy:beneficiaryName").innerHTML = detils[3]

                document.getElementById("vrfy:paymentIdWithMode").innerHTML = "ACCOUNT"
                updateTempPaymentIdWithMode(detils[4]);
            }
        }
    </script>

</body>

</html>
