<!DOCTYPE html>
<html>
{% load static %}
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    <style>
        .dot {
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
</head>
<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }
    #reviewOrder{
        padding-top : 80px;
    }
    #orderSummery{
        padding-top : 106px; 
        margin-left : 5px;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:100px;
            margin-left:10px;
            margin-right:10px;
        }
        #reviewOrder{
            padding-top : 10px;
        }
        #orderSummery{
            padding-top : 10px;
            padding-bottom : 10px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:40px;
            margin-left:10px;
            margin-right:10px;
        }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>

<body style="position: relative;">
    {% include 'common/header/checkout.html' %}
    <div class="w3-content w3-small" id="mainDiv" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-row">
            <div class="w3-col l1 m4 s4 w3-hide-small w3-hide-medium"><br></div>
            <div class="w3-col l7 m7 s12" id="reviewOrder">
                <span class="w3-large">Review your order</span>
                <div class="w3-card" style="padding:10px; margin-top:10px">
                    <div class="w3-row"> 
                        <div class="w3-col l4 m4 s4">
                            <div class="w3-row" style="color:#333; margin-bottom:5px;"> 
                                <b>Delivery address</b> 
                                <a href="/product/purchase/selectDeliveryAddress" style="text-decoration:none">
                                    <span class="w3-text-blue" style="cursor:pointer">change</span>
                                </a>
                            </div>
                            {% for data in dataDict.deleveryAddress %}
                                <div class="w3-row" style="padding-right:15px"> {{data}} </div>
                            {% endfor %}
                        </div>
                        <div class="w3-col l4 m4 s4">
                            <div class="w3-row" style="color:#333; margin-bottom:5px"> 
                                <b>Payment method</b>
                                <a href="/product/purchase/selectPaymentMethod" style="text-decoration:none">
                                    <span class="w3-text-blue" style="cursor:pointer">change</span>
                                </a>
                            </div>
                            <div class="w3-row"> {{dataDict.paymentMethod.method}} </div>
                            <div class="w3-row"> {{dataDict.paymentMethod.id}} </div>
                        </div>
                        <div class="w3-col l4 m4 s4">
                            <div class="w3-row" style="color:#333; margin-bottom:10px"> <b> Promo code </b></div>
                            {% if dataDict.isPromoCodeNotEntered %}
                            <form action="" method="post"> {% csrf_token %}
                                <div class="w3-row" style="margin-bottom:5px">
                                    <input type="text" id="promoCode" name="promoCode" value="" style='width:60%' placeholder="Enter Code" required> 
                                </div>
                                {% if dataDict.isPromoCodeWrong %}
                                <div class="w3-row" style="margin-bottom:5px">
                                    <span class="w3-text-red w3-tiny"><i>! The promoCode you entered is wrong</i></span>
                                </div>
                                {% endif %}
                                <div class="w3-row">
                                    <button class="w3-button w3-tiny w3-round" style="background-color:#ffe11b;" id="submit" onclick="setOnButtonClick('submit')">
                                        <span id="submitButton">Apply promo code</span>
                                    </button>
                                </div>
                            </form>
                            {% else %}
                            <form action="" method="post"> {% csrf_token %}
                                <div class="w3-row">
                                    <input type="hidden" id="reEnterPromoCode" name="reEnterPromoCode" value="" />
                                    <button class="w3-button w3-tiny w3-round" style="background-color:#ffe11b;" id="submit" onclick="setOnButtonClick('submit')">
                                        <span id="submitButton">Re-enter promo code</span>
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m4 s7 w3-center" id="orderSummery">
                <div class="w3-card" style="padding:10px; margin-top:10px">
                    <div class="w3-row">
                        <div class="w3-row w3-left" style="color:#333; margin-bottom:10px;"> <b>Order Summary</b></div>
                        <div class="w3-row"> 
                            <div class="w3-col l6 m6 s6" style="text-align:left">Total items: </div>
                            <div class="w3-col l6 m6 s6 w3-text-green" style="text-align:right"> <b>{{dataDict.orderSummery.totalItems}}</b> </div> 
                        </div>
                        <div class="w3-row"> 
                            <div class="w3-col l6 m6 s6" style="text-align:left"> Items price: </div>
                            <div class="w3-col l6 m6 s6" style="text-align:right"> ₹{{dataDict.orderSummery.itemsPrice}}</div> 
                        </div>
                        <div class="w3-row"> 
                            <div class="w3-col l6 m6 s6" style="text-align:left"> Promo discount: </div>
                            <div class="w3-col l6 m6 s6 w3-text-red" style="text-align:right"> - ₹{{dataDict.orderSummery.promoDiscount}} </div> 
                        </div>
                        <div class="w3-row w3-border-bottom" style="padding-bottom:5px; margin-bottom:5px;">
                            <div class="w3-col l6 m6 s6" style="text-align:left"> Delivery:</div>
                            <div class="w3-col l6 m6 s6" style="text-align:right"> ₹{{dataDict.orderSummery.deliveryCharge}}</div>
                        </div>
                        <div class="w3-row  w3-border-bottom" style="padding-bottom:5px; margin-bottom:5px;">
                            <div class="w3-col l6 m6 s6" style="text-align:left">Order Total:</div>
                            <div class="w3-col l6 m6 s6" style="text-align:right">₹{{dataDict.orderSummery.orderTotal}}</div>
                        </div>
                        {% if dataDict.orderSummery.isToken %}
                        <div class="w3-row w3-text-red" style=" margin-bottom:5px;">
                            <div class="w3-col l6 m6 s6" style="text-align:left"><b>Pay token:</b></div>
                            <div class="w3-col l6 m6 s6" style="text-align:right"><b>₹{{dataDict.orderSummery.token}}</b></div>
                        </div>
                        <div class="w3-row" style="margin-bottom:5px; text-align:right">
                            <span class="w3-text-red w3-tiny"><i>! pay due <b>₹{{dataDict.orderSummery.restAmount}}</b> at home</i></span>
                        </div>
                        {% else %}
                        <div class="w3-row w3-text-red" style="padding-bottom:5px; margin-bottom:5px;">
                            <div class="w3-col l6 m6 s6" style="text-align:left"><b>Pay:</b></div>
                            <div class="w3-col l6 m6 s6" style="text-align:right"><b>₹{{dataDict.orderSummery.orderTotal}}</b></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="w3-row" style="margin-top:15px;">
                        <form action="" method="post"> {% csrf_token %}
                            <input type="hidden" id="buttonOpeartion" name="buttonOpeartion" value="" />
                            <div class="w3-col l6 m6 s6" style="text-align:left">
                                <small>
                                    <button class="w3-button w3-tiny w3-round" style="background-color:#ffe11b;" id="submit" onclick="setOnButtonClick('submit')">
                                        <span id="submitButton">Place order</span>
                                    </button>
                                </small>
                            </div>
                            <div class="w3-col l6 m6 s6" style="text-align:right">
                                <small>
                                    <button class="w3-button w3-tiny w3-round" style="background-color:#febd69;" id="cancel" onclick="setOnButtonClick('cancel')">
                                        Redirect to home
                                    </button>
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>    
        
        onLoadWindow();
        function onLoadWindow(){
            dropdownMenuProfileHide();
        }
        
        function dropdownMenuProfileHide(){
            document.getElementById("dropdownMenuProfile").style.display = "none";
        }

        function setOnButtonClick(buttonOperation){
            document.getElementById("buttonOpeartion").value = buttonOperation;
        }
    </script>

</body>

</html>
