<div id="changepassword">
    <div class="w3-row" id="personalInfo_def_edit">
        <span style="font-weight:550;">
            Change Password
        </span>
    </div>
</div>
<div class="w3-row" style="margin-top:3%;">
    <div class="w3-row">
        <div id="changepassword">
            <form action="" method="post"> {% csrf_token %}
                <div> 
                    {%if messages.level == 40 %}
                        {% for message in messages %}
                            <span class="w3-text-red">Error:: {{ message }} </span>
                        {% endfor %}
                    {% else %}
                        {% for message in messages %}
                            <span class="w3-text-green">Success:: {{ message }} </span>
                        {% endfor %}
                    {% endif %} 
                </div>
                <div>
                    <input type="password" name="currentPassword" id="currentPassword" style="padding:1%;" placeholder="Type Current Password" required>
                </div>
                <div style="margin-top:2%;">
                    <input type="password" name="newPassword" id="newPassword" style="padding:1%;" placeholder="Type New Password" required>
                </div>
                <div style="margin-top:2%; margin-bottom: 2%;">
                    <input type="text" name="retypeNewPassword" id="retypeNewPassword" style="padding:1%;" placeholder="Retype New Password" required>
                </div>
                <input type="hidden" id="buttonOperation" name="buttonOperation" value="changepassword" />
                <button class="w3-button w3-black w3-center" style="cursor:pointer; margin-bottom:0.5%; padding-left:3%; padding-right:3%;" onclick="formValidation()">
                    CHANGE PASSWORD
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    function formValidation(button) {
        document.getElementById("newPassword").setCustomValidity('');
        document.getElementById("retypeNewPassword").setCustomValidity('');

        newPassword = document.getElementById("newPassword").value
        retypeNewPassword = document.getElementById("retypeNewPassword").value
        if (newPassword.length < 6){
            document.getElementById("newPassword").setCustomValidity("password should grater then 6 digits");
        }
        else if (newPassword != retypeNewPassword) {
            document.getElementById("retypeNewPassword").setCustomValidity('password mismatched');
        }
    }
</script>