.brandNameListId {
    width: 100%;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
}

.homeCategoryListId_H {
    width: 180px;
    height: 130px;
}
.homeCategoryListId_V {
    width: 120px;
    height: 130px;
}
.homeCategoryListId_S {
    width: 130px;
    height: 130px;
}

@media only screen and (max-width: 600px) {
    /* Extra small devices (phones, 600px and down) */
    .brandNameListId {
        width: 80%;
    }
    
    .homeCategoryListId_H {
        width: 150px;
        height: 100px;
    }
    .homeCategoryListId_V {
        width: 70px;
        height: 100px;
    }
    .homeCategoryListId_S {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Small devices (portrait tablets and large phones, 600px and up) */
    .brandNameListId {
        width: 70%;
        height: 140px;
    }
   
    .homeCategoryListId_H {
        width: 180px;
        height: 130px;
    }
    .homeCategoryListId_V {
        width: 120px;
        height: 130px;
    }
    .homeCategoryListId_S {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Medium devices (landscape tablets, 768px and up) */
    .brandNameListId {
        width: 60%;
    }
    .homeCategoryListId_H {
        width: 180px;
        height: 130px;
    }
    .homeCategoryListId_V {
        width: 120px;
        height: 130px;
    }
    .homeCategoryListId_S {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Large devices (laptops/desktops, 992px and up) */
    .brandNameListId {
        width: 105%;
    }
    
    .homeCategoryListId_H {
        width: 180px;
        height: 130px;
    }
    .homeCategoryListId_V {
        width: 120px;
        height: 130px;
    }
    .homeCategoryListId_S {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    .brandNameListId {
        width: 95%;
    }
    
    .homeCategoryListId_H {
        width: 180px;
        height: 130px;
    }
    .homeCategoryListId_V {
        width: 120px;
        height: 130px;
    }
    .homeCategoryListId_S {
        width: 130px;
        height: 130px;
    }
}