{% load static %}
<!DOCTYPE html>
<html>
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    <script src="{% static 'js/common/common.js' %}"></script>
    <!--<script src="{% static 'js/adminPage.js' %}"></script>-->
    <!--<script src="{% static 'js/user/addToCart/index.js' %}"></script>-->
</head>
<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1400px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:130px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:130px;
        }
    }
</style>


<body style="position: relative;">
    {% include 'common/header/header.html' %}
    <div class="w3-small" id="mainDiv" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-row" id="add-to-cart">
            <div class="w3-col l2 m1 s1 w3-hide-small"><br></div>
            <div class="w3-col l7 m8 s12">
                <div class="w3-row" style="text-align: left;">
                    <h3><b>Shopping Cart</b></h3>
                </div>
                <div class="w3-row" style="text-align:left;">
                    <small id="DESELECTALLITEMS" onclick="selectDeselect('DESELECTALLITEMS')"><a href="#" class="w3-text-blue" style="text-decoration:none">Deselect all items</a></small>
                    <small id="SOMEITEMSELECTED">No items selected. <a href="#" class="w3-text-blue" style="text-decoration:none" onclick="selectDeselect('SOMEITEMSELECTED')">Select all items</a></small>
                    <small id="SELECTALLITEMS"><a href="#" class="w3-text-blue" style="text-decoration:none" onclick="selectDeselect('SELECTALLITEMS')">Select all items</a></small>
                </div>

                <div class="w3-row w3-border-bottom" style="text-align:right; margin-right:2%">
                    <small>Price</small>
                </div>
                {% for product in dataDictionary.productDictList %}
                <input type="hidden" id="{{product.itemID}}_SUBTOTALIDINFO" value="{{product.quantity}}/{{product.price}}" />
                <div class="w3-row w3-border-bottom" style="padding-left:2%;padding-right:2%;padding-top:3%;padding-bottom:3%;">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-row">
                            <div class="w3-col l1 m1 s1" style="text-align:left;margin-top:3%;">
                                <input type="checkbox" name="check" id="CHECK_{{product.itemID}}" onclick="checkUncheckOrder( '{{product.itemID}}', 'TOGGLE')" checked="check">
                            </div>
                            <div class="w3-col l2 m2 s2" style="text-align:left">
                                <img class="w3-hide-small" src="{{product.imageurl}}" width="100px" height="100px">
                                <img class="w3-hide-large w3-hide-medium" src="{{product.imageurl}}" width="70px" height="80px">
                            </div>
                            <div class="w3-col l7 m7 s7">
                                <div class="w3-row" style="text-align:left; padding-bottom: 2%;">
                                    <b>{{product.title}}</b>
                                </div>
                                <div class="w3-row" style="text-align:left; padding-bottom: 2%;">
                                    <div class="w3-col">
                                        <small id="onloadQuantity">Quantity: {{product.quantity}}</small>
                                        <small onclick="showId( '{{product.itemID}}_onclickchangeQuantity')" class="w3-text-blue w3-hover-text-red" style="cursor: pointer;">change</small>
                                        <form action="" method="post" id="{{product.itemID}}_onclickchangeQuantity"> {% csrf_token %}
                                            <small class=" w3-text-grey">Quantity: <input type="number" name="CHANGEDQUANTITY" style='width:10%' value="{{product.quantity}}" min="0" /> </small>
                                            <input type="hidden" name="ITEMID" value="{{product.itemID}}" />
                                            <small><button>Update</button></small>
                                        </form>
                                    </div>
                                </div>
                                <div class="w3-row" style="text-align:left; padding-bottom: 2%;">
                                    <span id="{{product.itemID}}_maxLimitError"><b class="w3-text-red"><small>In store only {{product.storeQuantity}} items</small></b></span>
                                </div>
                            </div>
                            <div class="w3-col l2 m2 s2">
                                <div class="w3-row" style="text-align:right; padding-bottom: 2%;">
                                    ₹<b>{{product.price}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="w3-row" id="FORPROCEEDTOBUYBUTTON" style="padding-left:2%;padding-right:2%;padding-top:1%;padding-bottom:3%;">
                    <div class="w3-col l12 m12 s12" id="SUBTOTALBUTTON3" style="text-align: right;">No items selected</div>
                    <div class="w3-col l12 m12 s12" id="SUBTOTALBUTTON4" style="text-align: right;">
                        Subtotal ({{dataDictionary.totalQuantity}} items): ₹<b>{{dataDictionary.subtotal}}</b>
                    </div>
                </div>
                <div class="w3-row w3-right w3-hide-large w3-hide-medium" style="padding-left:2%;padding-right:2%;padding-top:1%;padding-bottom:3%;">
                    <form action="" method="post" id="PROCEEDTOBUYFORM"> {% csrf_token %}
                        <input type="hidden" id="UNBUYSTORE" name="PROCEEDTOBUYFORM" value="[]" />
                        <small><button class="w3-button w3-green w3-tiny w3-hover-dark-grey" onclick="noItemProceedToBuyButtonValidation(this)" >Proceed to Buy</button></small>
                    </form>
                </div>
            </div>
            <div class="w3-col l2 m2 s2 w3-hide-small" style="margin-left:5%" id="noMaxLimitError">
                <div class="w3-row l9 m8 s8 w3-border" style="padding:4%; margin-top:2%">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-row">
                            <div class="w3-col l8 m8 s8">
                                <div class="w3-row" id="SUBTOTALBUTTON1" style="text-align:left; padding-bottom: 2%;">No items selected</div>
                                <input type="hidden" id="SUBTOTALQUANTPRICE" value="{{dataDictionary.totalQuantity}}/{{dataDictionary.subtotal}}" />
                                <div class="w3-row" id="SUBTOTALBUTTON2" style="text-align:left; padding-bottom: 2%;">
                                    Subtotal ({{dataDictionary.totalQuantity}} items): ₹<b>{{dataDictionary.subtotal}}</b>
                                </div>
                                <div class="w3-row" style="text-align:left; padding-bottom:2%; margin-top:2%">
                                    <form action="" method="post" id="PROCEEDTOBUYFORM"> {% csrf_token %}
                                        <input type="hidden" id="UNBUYSTORE" name="PROCEEDTOBUYFORM" value="[]" />
                                        <small><button class="w3-button w3-green w3-tiny w3-hover-dark-grey" onclick="noItemProceedToBuyButtonValidation(this)" >Proceed to Buy</button></small>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showId(ID) {
            //console.log("ShowID::", ID);
            document.getElementById(ID).style.display = "block";
        }

        function hideId(ID) {
            //console.log("HideID::", ID);
            document.getElementById(ID).style.display = "none";
        }

        function initialOnPageLoadHideShowAddToCartTags(){
            updateQuantityonPageLoad('{{dataDictionary.itemidList}}')

            hideId("SOMEITEMSELECTED");
            hideId("SELECTALLITEMS");
            showId("DESELECTALLITEMS");

            hideId("SUBTOTALBUTTON1");
            showId("SUBTOTALBUTTON2");
            hideId("SUBTOTALBUTTON3");
            showId("SUBTOTALBUTTON4");
        }

        window.onload = function() {
            maxLimitValidation();

            document.getElementById("dropdownMenuProfile").style.display = "none";
            initialOnPageLoadHideShowAddToCartTags();
        };

        function maxLimitValidation(){
            maxLimitErrorList = '{{dataDictionary.productDictList}}';
            maxLimitErrorList = maxLimitErrorList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').replaceAll("{", '').split("},")
            
            maxLimitErrorFlag = false
            for (var i=0; i<maxLimitErrorList.length; i++){ 
                quantity = parseInt(maxLimitErrorList[i].split(", ")[4].replaceAll(" ", '').split(":")[1])
                storeQuantity = parseInt(maxLimitErrorList[i].split(", ")[5].replaceAll("}", '').replaceAll(" ", '').split(":")[1])
                itemID = maxLimitErrorList[i].split(", ")[0].replaceAll(": ", ':').split(":")[1]
                
                if(storeQuantity < quantity){
                    showId(itemID + "_maxLimitError")
                    maxLimitErrorFlag = true
                }
                else{
                    hideId(itemID + "_maxLimitError")
                }
            }
            if(maxLimitErrorFlag){
                hideId("noMaxLimitError");
            }
            else{
                showId("noMaxLimitError");
            }
        }

        function dropdownMenuProfileHide(){
            document.getElementById("dropdownMenuProfile").style.display = "none";
        }

        function updateQuantityonPageLoad(itemidList) {
            itemidList = itemidList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').replaceAll(", ", ',').split(",")
            console.log("itemidList::", itemidList)
            for (index = 0; index < itemidList.length; index++) {
                hideId((itemidList[index]) + "_onclickchangeQuantity");
            }
        }

        function changeProductQuantity() {
            document.getElementById("productQuantityTextbox").value = document.getElementById("productQuantityDropdown").value;
        }

        function changeUserComplains() {
            document.getElementById("userComplainsTextbox").innerHTML = document.getElementById("userComplainsDropdown").value;
        }

        function checkUncheckOrder(itemId, validateWith) {
            unBuyStorevect = [];
            if (document.getElementById("UNBUYSTORE").value != "[]") {
                unBuyStorevect = document.getElementById("UNBUYSTORE").value.replace("[", "").replace("]", "").split(",");
            }
            validationFlg = false
            if (validateWith == "TOGGLE") {
                validationFlg = document.getElementById("CHECK_" + itemId).checked;
            } else if (validateWith == "CHECK") {
                validationFlg = true;
                document.getElementById("CHECK_" + itemId).checked = true;
            } else {
                document.getElementById("CHECK_" + itemId).checked = false;
            }

            if (validationFlg) {//select box
                for (var i = 0; i < unBuyStorevect.length; i++) {
                    if (unBuyStorevect[i] == itemId) {
                        unBuyStorevect.splice(i, 1);
                    }
                }
                itemQuantPrice = document.getElementById(itemId + "_SUBTOTALIDINFO").value.replaceAll(",", '').split("/").map(iNum => parseInt(iNum, 10));
                subTotalQuantPricevec = document.getElementById("SUBTOTALQUANTPRICE").value.replaceAll(",", '').split("/").map(iNum => parseInt(iNum, 10));
                
                newSubTotalQuant = (subTotalQuantPricevec[0] + itemQuantPrice[0]);
                newSubTotalPrice = (subTotalQuantPricevec[1] + (itemQuantPrice[0] * itemQuantPrice[1]));
                
                STR = "Subtotal (" + newSubTotalQuant.toString() + " items): ₹<b>" + toCommaSeperatedCurrency(newSubTotalPrice) + "</b>";
                document.getElementById('SUBTOTALBUTTON2').innerHTML = STR;
                document.getElementById('SUBTOTALBUTTON4').innerHTML = STR;
                document.getElementById('SUBTOTALQUANTPRICE').value = newSubTotalQuant.toString() +
                    ' / ' + newSubTotalPrice.toString();
                
            } else {//unselect box
                unBuyStorevect.push(itemId);
                itemQuantPrice = document.getElementById(itemId + "_SUBTOTALIDINFO").value.replaceAll(",", '').split("/").map(iNum => parseInt(iNum, 10));
                subTotalQuantPricevec = document.getElementById("SUBTOTALQUANTPRICE").value.replaceAll(",", '').split("/").map(iNum => parseInt(iNum, 10));

                newSubTotalQuant = (subTotalQuantPricevec[0] - itemQuantPrice[0]);
                newSubTotalPrice = (subTotalQuantPricevec[1] - (itemQuantPrice[0] * itemQuantPrice[1]));

                STR = "Subtotal (" + newSubTotalQuant.toString() +
                    " items):₹ <b>" + toCommaSeperatedCurrency(newSubTotalPrice) + "</b>";
                document.getElementById("SUBTOTALBUTTON2").innerHTML = STR;
                document.getElementById("SUBTOTALBUTTON4").innerHTML = STR;
                document.getElementById("SUBTOTALQUANTPRICE").value = newSubTotalQuant.toString() + "/" + newSubTotalPrice.toString();
            }

            document.getElementById("UNBUYSTORE").value = "[" + unBuyStorevect.toString() + "]";
            productDictListLength = '{{dataDictionary.productDictList|length}}';
            if (unBuyStorevect.length == productDictListLength) {
                hideId("DESELECTALLITEMS");
                hideId("SELECTALLITEMS");
                showId("SOMEITEMSELECTED");
                hideId("SUBTOTALBUTTON2");
                showId("SUBTOTALBUTTON1");
                hideId("SUBTOTALBUTTON4");
                showId("SUBTOTALBUTTON3");
            } else if ( ! unBuyStorevect.length ) {
                hideId("SOMEITEMSELECTED");
                hideId("SELECTALLITEMS");
                showId("DESELECTALLITEMS");
                hideId("SUBTOTALBUTTON1");
                showId("SUBTOTALBUTTON2");
                hideId("SUBTOTALBUTTON3");
                showId("SUBTOTALBUTTON4");
            } else {
                hideId("DESELECTALLITEMS");
                hideId("SOMEITEMSELECTED");
                showId("SELECTALLITEMS");
                hideId("SUBTOTALBUTTON1");
                showId("SUBTOTALBUTTON2");
                hideId("SUBTOTALBUTTON3");
                showId("SUBTOTALBUTTON4");
            }
        }

        function selectDeselect(validationType) {
            console.log("validationType::", validationType);
            itemidList = '{{dataDictionary.itemidList}}';
            itemidList = itemidList.replaceAll('&#x27;', "").replaceAll("[", '').replaceAll("]", '').replaceAll(", ", ',').split(",")
            console.log("itemidList::", itemidList);

            if (validationType == "DESELECTALLITEMS") {
                validateWith = "UNCHECK";
            } else {
                vect = document.getElementById("UNBUYSTORE").value.replace("[", "").replace("]", "").split(",");
                itemidList = itemidList.filter(n => vect.includes(n))
            
                validateWith = "CHECK";
            }
            
            for (var i = 0; i < itemidList.length; i++) {
                    checkUncheckOrder(itemidList[i], validateWith);
            }
        }

        function noItemProceedToBuyButtonValidation(button) {
            if (document.getElementById("SUBTOTALQUANTPRICE").value == '0/0') {
                button.setCustomValidity(
                    'Please select at least one item to Checkout');
            } else {
                button.setCustomValidity('');
            }
        }
    </script>
</body>