{% load static %}
<!DOCTYPE html>
<html>
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/user/account/index.css' %}">
    <script src="{% static 'js/user/account/index.js' %}"></script>

</head>

<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:50px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:70px;
        }
    }
</style>

<body style="position: relative;" onclick="dropdownMenuProfileHide()">
    {% include 'common/header/header.html' %}
    <div class="w3-row w3-content w3-small" id="mainDiv"  onmouseover="dropdownMenuProfileHide()">
        <div class="w3-col l3 m3 s4">
            {% include 'user/account/lhs/index.html' %}
        </div>
        <div class="w3-col l9 m9 s8" style="padding-left:2%">
            {% include 'user/account/rhs/index.html' %}
        </div>
</body>

<script>
    window.onload = function() {
        document.getElementById("dropdownMenuProfile").style.display = "none";
        funcOnClickSubHeading('{{dataShow}}');
        hideId("dropdownMenuProfile");
    };

    function dropdownMenuProfileHide(){
        document.getElementById("dropdownMenuProfile").style.display = "none";
    }

    function showId(ID) {
        console.log("ShowID::", ID);
        document.getElementById(ID).style.display = "block";
    }

    function hideId(ID) {
        console.log("HideID::", ID);
        document.getElementById(ID).style.display = "none";
    }

    function funcOnClickSubHeading(idType) {
        if ('profileinformation' == idType) {
            hideId('personalInfo_name');
            hideId('personalInfo_gender');
            hideId('personalInfo_cancel');
            hideId('emailAddress_email');
            hideId('emailAddress_cancel');
            hideId('mobileNumber_mobile');
            hideId('mobileNumber_cancel');

        } else if ('manageaddresses' == idType) {
            hideId("editDelete");
            hideId("addormodifyaddress_datafillform");
            //todo
        } else if ('changepassword' == idType) {
            //todo
        }
    }

    function funcOnClickButtonPress(idType) {
        console.log("funcOnClickButtonPress::", idType);
        document.getElementById(idType).submit();
    }

    function funcOnClickAddOrModifyAddress(idType) {
        hideId("addormodifyaddress_addbuttonform");
        hideId("addormodifyaddress_datashowtable");
        if (idType == "add") {
            showId("addormodifyaddress_datafillform");
        }
    }

    function funcOnClickCancelHideAddOrModifyAddress() {
        hideId("addormodifyaddress_datafillform");
        showId("addormodifyaddress_addbuttonform");
        showId("addormodifyaddress_datashowtable");
    }

    function dropdownMenuProfileHide(){
        hideId("dropdownMenuProfile");
    }
</script>