{% load static %}
<!DOCTYPE html>
<html>
<title>Ashok Elcetronics</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/common/universal/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/universal/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/universal/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/account/index.css' %}">

    <script src="{% static 'js/common/universal/all.js' %}"></script>
    <script src="{% static 'js/w3hideshow.js' %}"></script>
    <script src="{% static 'js/adminPage.js' %}"></script>
    <script src="{% static 'js/user/account/index.js' %}"></script>

</head>

<!--<body class="w3-content" >-->
<body style="position: relative;" onclick="dropdownMenuProfileHide()">
    {% include 'common/header/header.html' %}
    <div class="w3-row w3-content" id="profile" style="max-width:1200px; margin-top:5.5%;" onmouseover="dropdownMenuProfileHide()">
        <div class="w3-col l3">
            <div class="w3-panel w3-card-2" style="padding:5%; margin-bottom:0%; margin-top:0%">
                {% include 'user/account/lhs/profileBox.html' %}
            </div>
            <div class="w3-panel w3-card-2" style="padding-top:5%; padding-bottom:5%; padding-left:0%; padding-right:0%;">
                {% include 'user/account/lhs/menuBox.html' %}
            </div>
        </div>

        <div class="w3-col l9" style="padding-left:2%">
            <div class="w3-panel w3-card-2" style="padding:3%; margin-bottom:0%; margin-top:0%">
                {% if dataShow == "profileinformation" %}
                    {% include 'user/account/rhs/profileInformation.html' %}
                {% elif dataShow == "manageaddresses" %}
                    {% include 'user/account/rhs/manageAddresses.html' %}
                {%elif dataShow == "changepassword" %}
                    {% include 'user/account/rhs/changePassword.html' %}
                {%elif dataShow == "my-chats" %}
                    {% include 'user/account/rhs/myChat.html' %}
                {%elif dataShow == "rewards" %}
                    {% include 'user/account/rhs/rewards.html' %}
                {%elif dataShow == "notifications" %}
                    {% include 'user/account/rhs/notifications.html' %}
                {%elif dataShow == "wishlist" %}
                    {% include 'user/account/rhs/wishlist.html' %}
                {%endif%}
            </div>
        </div>
        <script>
            window.onload = function() {
                document.getElementById("dropdownMenuProfile").style.display = "none";
                funcOnClickSubHeading('{{dataShow}}');
                hideId("dropdownMenuProfile");
            };

            function dropdownMenuProfileHide(){
                document.getElementById("dropdownMenuProfile").style.display = "none";
            }

            function showId(ID) {
                console.log("ShowID::", ID);
                document.getElementById(ID).style.display = "block";
            }

            function hideId(ID) {
                console.log("HideID::", ID);
                document.getElementById(ID).style.display = "none";
            }

            function funcOnClickSubHeading(idType) {
                if ('profileinformation' == idType) {
                    hideId('personalInfo_name');
                    hideId('personalInfo_gender');
                    hideId('personalInfo_cancel');
                    hideId('emailAddress_email');
                    hideId('emailAddress_cancel');
                    hideId('mobileNumber_mobile');
                    hideId('mobileNumber_cancel');

                } else if ('manageaddresses' == idType) {
                    hideId("editDelete");
                    hideId("addormodifyaddress_datafillform");
                    //todo
                } else if ('changepassword' == idType) {
                    //todo
                }
            }

            function funcOnClickButtonPress(idType) {
                console.log("funcOnClickButtonPress::", idType);
                document.getElementById(idType).submit();
            }

            function funcOnClickAddOrModifyAddress(idType) {
                hideId("addormodifyaddress_addbuttonform");
                hideId("addormodifyaddress_datashowtable");
                if (idType == "add") {
                    showId("addormodifyaddress_datafillform");
                }
            }

            function funcOnClickCancelHideAddOrModifyAddress() {
                hideId("addormodifyaddress_datafillform");
                showId("addormodifyaddress_addbuttonform");
                showId("addormodifyaddress_datashowtable");
            }

            function dropdownMenuProfileHide(){
                hideId("dropdownMenuProfile");
            }
        </script>
</body>