{% load static %}
<!DOCTYPE html>
<html>
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
    <link rel="stylesheet" href="{% static 'css/user/account/index.css' %}">
    <script src="{% static 'js/user/account/index.js' %}"></script>
</head>

<style>
    .checked {
        color: orange;
    }

    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:120px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:70px;
        }
    }
</style>

<body style="position: relative;" onclick="dropdownMenuProfileHide()">
    {% include 'common/header/header.html' %}
    <div class="w3-row w3-content w3-small" id="mainDiv"  onmouseover="dropdownMenuProfileHide()">
        <div class="w3-panel w3-text-blue" id="lhsShowMenu" style=" margin-bottom:0%; margin-top:0%; cursor:pointer;" onclick="toggleLeftPannel('showMenu')">
            <span> Show Menu </span>
        </div>
        <div class="w3-panel w3-text-blue" id="lhshideMenu" style=" margin-bottom:0%; margin-top:0%; cursor:pointer;" onclick="toggleLeftPannel('hideMenu')">
            <span> Hide Menu </span>
        </div>
        <div class="w3-col l3 m3 s6" style="padding:2%">
            {% include 'user/account/lhs/index.html' %}
        </div>
        
        <div class="w3-col l9 m9 s12" style="padding:2%">
           {% include 'user/account/rhs/index.html' %}
        </div>
</body>

<script>
    window.onload = function() {
        console.log("resolution::", window.innerWidth, window.outerWidth)
        document.getElementById("dropdownMenuProfile").style.display = "none";
        funcOnClickSubHeading('{{dataShow}}');
        hideId("dropdownMenuProfile");
        if(window.innerWidth < 600 ){
            hideId("lhshideMenu")
            showId("lhsShowMenu")
            hideId("lhsPannel2")
        }
        else{
            hideId("lhshideMenu")
            hideId("lhsShowMenu")
            showId("lhsPannel2")
        }
    };

    function dropdownMenuProfileHide(){
        document.getElementById("dropdownMenuProfile").style.display = "none";
    }

    function showId(ID) {
        console.log("ShowID::", ID);
        document.getElementById(ID).style.display = "block";
    }

    function hideId(ID) {
        console.log("HideID::", ID);
        document.getElementById(ID).style.display = "none";
    }

    function toggleLeftPannel(tagName){
        if(window.innerWidth < 600 ){

            if(tagName == "showMenu"){
                hideId("lhsShowMenu")
                showId("lhshideMenu")
                showId("lhsPannel2")
            }
            else{
                hideId("lhshideMenu")
                showId("lhsShowMenu")
                hideId("lhsPannel2")
            }
        }
        else{
            hideId("lhsShowMenu")
            hideId("lhshideMenu")
            showId("lhsPannel2")
        }
    }

    function funcOnClickSubHeading(idType) {
        if ('profileinformation' == idType) {
            hideId('personalInfo_name');
            hideId('personalInfo_gender');
            hideId('personalInfo_cancel');
            hideId('emailAddress_email');
            hideId('emailAddress_cancel');
            hideId('mobileNumber_mobile');
            hideId('mobileNumber_cancel');

        } else if ('manageaddresses' == idType) {
            //hideId("editDelete");
            //hideId("addormodifyaddress_datafillform");
            //todo
        } else if ('changepassword' == idType) {
            //todo
        }
    }

    function funcOnClickButtonPress(idType) {
        console.log("funcOnClickButtonPress::", idType);
        document.getElementById(idType).submit();
    }

    function dropdownMenuProfileHide(){
        hideId("dropdownMenuProfile");
    }
</script>