<!DOCTYPE html>
<html>
{% load static %}
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
</head>

<style>
    .checked {
        color: orange;
    }
    
    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:50px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:70px;
        }
    }
</style>

<body>
    {% include 'common/header/header.html' %}
    <div class="w3-row w3-small" id="mainDiv" style="text-align:center">
        <div class="w3-col l4 m2 w3-hide-small"><br></div>
        <div class="w3-col l6 m7 s11" style="padding-left:10%; padding-top:5%; padding-bottom:5%;">
            <form action="register" method="post"> {% csrf_token %}
                <table class="w3-card w3-table">
                    <tr>
                        <td class="w3-small w3-medium w3-center" colspan="1"><b>Sign Up</b></td>
                    </tr>
                    {%if messages.level == 40 %}
                        {% for message in messages %}
                        <tr>
                            <td class="w3-text-red">Error:: {{ message }} </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for message in messages %}
                        <tr>
                            <td class="w3-text-green">Success:: {{ message }} </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="text" name="firstname" value="{{dataDict.firstname}}" placeholder="Firstname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="text" name="lastname" value="{{dataDict.lastname}}" placeholder="Last Name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="password" name="password1" value="" placeholder="Password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="password" name="password2" value="" placeholder="Confirm Password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="number" name="mobilenumber" value="{{dataDict.mobilenumber}}" placeholder="Mobile Number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="number" name="whatsappnumber" value="{{dataDict.whatsappnumber}}" placeholder="WhatsApp Number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="email" name="emailaddress" value="{{dataDict.emailaddress}}" placeholder="Email Address" required>
                        </td>
                    </tr>
                    <tr>
                        <td  class="w3-small">
                            <button class="w3-button w3-medium w3-block w3-round" style="background-color:#ffe11b;">
                                REGISTER
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="w3-small w3-text-grey" style="text-align:center">
                            <p>Already have an account? <a href="\login" style="text-decoration:none; color:blue;">Log In</a></p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>