<!DOCTYPE html>
<html>
{% load static %}
{% include 'common/title.html' %}

<head>
    {% include 'common/head.html' %}
</head>

<style>
    .checked {
        color: orange;
    }
    
    #mainDiv{
        max-width:1200px; 
        margin-top:5.5%;
    }

    @media only screen and (max-width: 600px) {
        #mainDiv{
            max-width:100%; 
            margin-top:120px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
        #mainDiv{
            max-width:1200px; 
            margin-top:70px;
        }
    }
</style>

<body>
    {% include 'common/header/header.html' %}
    <div class="w3-row w3-small" id="mainDiv" style="text-align:center">
        <div class="w3-col l4 m2 w3-hide-small"><br></div>
        <div class="w3-col l6 m7 s11" style="padding-left:10%; padding-top:5%; padding-bottom:5%;">
            <form action="register" method="post"> {% csrf_token %}
                <table class="w3-card w3-table">
                    <tr>
                        <td class="w3-small w3-medium w3-center" colspan="1"><b>Sign Up</b></td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="text" name="firstName" value="" placeholder="Firstname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="text" name="lastName" value="" placeholder="Last Name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="gender" id="Male" value="Male" checked style="cursor:pointer;" required>
                            <span style="margin-right:2%;">Male</span>
                            <input type="radio" name="gender" id="Female" value="Female" style="cursor:pointer;" required>
                            <span>Female</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="password" id="password1" name="password" value="" placeholder="Password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="password" id="password2" value="" placeholder="Confirm Password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="number" id="mobileNumber" name="mobileNumber" value="" placeholder="Mobile Number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="number" id="whatsappNumber" name="whatsappNumber" value="" placeholder="WhatsApp Number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="w3-input w3-border" type="email" name="emailAddress" value="" placeholder="Email Address" required>
                        </td>
                    </tr>
                    <tr>
                        <td  class="w3-small">
                            <button class="w3-button w3-medium w3-block w3-round" style="background-color:#ffe11b;" onclick="registerFormValidation()">
                                REGISTER
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="w3-small w3-text-grey" style="text-align:center">
                            <p>Already have an account? <a href="\login" style="text-decoration:none; color:blue;">Log In</a></p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
<script>
function registerFormValidation(){
    document.getElementById("password1").setCustomValidity("")
    document.getElementById("password2").setCustomValidity("")
    document.getElementById("mobileNumber").setCustomValidity("")
    document.getElementById("whatsappNumber").setCustomValidity("")

    password1 = document.getElementById("password1").value
    password2 = document.getElementById("password2").value
    
    if(password1.length < 6 ){
        document.getElementById("password1").setCustomValidity("password should at least 6 digit");
    }
    else if (password1 != password2){
        document.getElementById("password2").setCustomValidity("password mismatch");
    }
    else if ( document.getElementById("mobileNumber").value.length != 10 ){
        document.getElementById("mobileNumber").setCustomValidity("mobile Number should 10 digits");
    }
    else if ( document.getElementById("whatsappNumber").value.length != 10 ){
        document.getElementById("whatsappNumber").setCustomValidity("mobile Number should 10 digits");
    }
}
</script>

</html>