<div class="w3-card" style="background: #fff;  margin-top:2%;">
    <a href="/manager">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:5%;">
            <div class="w3-col w3-center l3">
                <i class="fas fa-home"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Home
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/usersProfiles">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:5%;">
            <div class="w3-col w3-center l3">
                <i class="fa fa-users"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Users Profiles
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/alterProduct">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:5%;">
            <div class="w3-col w3-center l3">
                <i class="fa fa-plus"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Add Product
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/manageStoreItems">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:5%;">
            <div class="w3-col w3-center l3">
                <i class="fas fa-store"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Manage Store Items
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/alterPaymentDetails">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:3%;">
            <div class="w3-col w3-center l3" >
                <i class="fas fa-money-check-alt"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Alter Payment Details
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/emailandMessaging">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:3%;">
            <div class="w3-col w3-center l3" >
                <i class="fa fa-envelope"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Email & Messaging
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/console">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:3%;">
            <div class="w3-col w3-center l3" >
                <i class="fas fa-terminal"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Console
            </div>
        </div>
    </a>
    <div style="border-top: 1px solid #eaeaec;"></div>
    <a href="/manager/logout">
        <div class="w3-row" id="profileinformation_def" style="padding-top:5%; padding-bottom:3%;">
            <div class="w3-col w3-center l3" >
                <i class=" fas fa-power-off"></i>
            </div>
            <div class="w3-col l9 subHadding l9" style="padding-left:5%">
                Logout
            </div>
        </div>
    </a>
</div>