<form action="register" method="post"> {% csrf_token %}
    <table class="w3-card w3-table">
        <tr style="background-color:azure">
            <th><br></td>
            <th>Manage Store</th>
            <th><br></td>
        </tr>
        {% for message in messages%}
        <tr>
            <td><br></td>
            <td class="w3-text-red">Warning:: {{ message }} </td>
            <td><br></td>
        </tr>
        {% endfor %}
        <tr>
            <td><br></td>
            <td>FirstName</td>
            <td>
                <input type="text" name="firstName" value="{{dataDict.firstName}}" placeholder="First Name" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>LastName</td>
            <td>
                <input type="text" name="lastName" value="{{dataDict.lastName}}" placeholder="Last Name" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>Password</td>
            <td>
                <input type="password" name="password1" value="{{dataDict.password1}}" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>Confirm password</td>
            <td>
                <input type="password" name="password2" value="{{dataDict.password2}}" placeholder="Confirm Password" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>Mobile Number</td>
            <td>
                <input type="text" name="mobileNumber" value="{{dataDict.mobileNumber}}" placeholder="Mobile Number" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>WhatsApp Number</td>
            <td>
                <input type="text" name="whatsappNumber" value="{{dataDict.whatsappNumber}}" placeholder="WhatsApp Number" required>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td>Email Address</td>
            <td>
                <input type="text" name="emailAddress" value="{{dataDict.emailAddress}}" placeholder="Email Address" required>
            </td>
        </tr>
        <!--
        <tr>
            <td><br></td>
            <td>Profile Picture</td>
            <td>
                <input type="file" id="userImage" name="userImage" required>
            </td>
        </tr>
        -->
        <tr>
            <td><br></td>
            <td><br></td>
            <td  class="w3-small">
                <button type="submit" class="w3-btn w3-round-medium w3-center" value="Save" style="background-color: #89c4ff;">Register</button>
            </td>
        </tr>
    </table>
</form>